*{padding:0px;margin: 0px;}
.tble{
    height:300px;
    border: 2px solid gray;
     margin: auto;
    background-color: #A7A7A7;
    margin-top: 50px;
    border-radius: 10px;
}
.tble input{
    
width: 60px;
height: 40px;
border-radius: 10px;
background-color: lightgrey;
font-size: 20px;
}
.tv input{
    width: 200px;
    height: 70px;
    border: 2px solid gray;
    background-color: whitesmoke;

}